.collapseCard{
   width: 100%;
}
.collapseContainer{
   background-color: #FF6060;
   display: flex;
   position: relative;
   overflow: hidden;
   z-index: 10;
   padding: 1rem;
   justify-content: space-between;
   justify-items: center;
   align-content: center;
   align-items: center;
   border-radius: 0.35rem;
   height: 1rem;
   font-size: 0.75rem;
   line-height: 1rem;
   color: #ffffff;
   cursor: pointer;
}
.collapseToggle{
   color: #FF6060;
   position: relative;
   margin: -15px 0 0 0;
   background-color: #F6F6F6;
   overflow: hidden;
   padding: 2rem 1rem 1rem 1rem;
   border-radius: 0.35rem;
   transition-duration: 300ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.arrowUp{
   height: 0.875rem;
   transition-duration: 400ms;
   -webkit-transform: rotate(0deg);
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
}
.arrowDown{
   height: 0.875rem;
   transition-duration: 400ms;
   -webkit-transform: rotate(180deg);
   -ms-transform: rotate(180deg);
   transform: rotate(180deg);
}

@media (min-width: 768px) {
   .collapseContainer{
       height: 1rem;
  }
}
