.collapseCard{
   width: 100%;
}
.collapseContainer{
   background-color: #FF6060;
   display: flex;
   overflow: hidden;
   z-index: 10;
   padding: 1rem;
   justify-content: space-between;
   justify-items: center;
   align-content: center;
   align-items: center;
   border-radius: 0.75rem;
   height: 2rem;
   font-size: 0.75rem;
   line-height: 1rem;
   color: #ffffff;
   cursor: pointer;
}
.collapseToggle{
   color: #FF6060;
   margin:0;
   background-color: #F6F6F6;
  overflow: hidden;
   padding:1rem;
   border-radius: 0.75rem;
   transition-duration: 300ms;
   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
   .collapseContainer{
       height: 3rem;
  }
}
