.errorCard{
  display: flex;
   flex-direction: column;
   gap: 3.5rem;
   justify-content: space-between;
   color: #FF6060;
   align-items: center;
}
.errorImage{
  width: 60%;
}
.errorText{
  width: 16rem;
   text-align: center;
}
.errorLink{
   color: #FF6060;
   text-decoration: underline;
}
@media (min-width: 768px) {
   .errorImage{
       width: 597px;
  }
   .errorText{
       font-size: 2.25rem;
       line-height: 2.5rem;
       font-weight: 500;
       width: 872px;
  }
}
