.galleryCard{
  display: flex;
  background-color: transparent;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  padding: 3rem;
}
@media (min-width: 768px) {
  .galleryCard{
      padding: 3rem;
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
      background-color: #F6F6F6;
      gap: 3rem;
 }
}
