.tagsCard{
  display: flex;
  gap: 10px;
}
.tagsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 1rem;
  color: #ffffff;
  background-color: #FF6060;
  color: 10px;
  border-radius: 0.75em;
}
@media (min-width: 768px) {
  .tagsContainer{
      border-radius: 0.75em;
      height: 1.5rem;
      font-size: 0.75rem;
      line-height: 1rem;
 }
}
